[Unit]
Description=WPA supplicant daemon

[Service]
ExecStart=/usr/sbin/wpa_supplicant -c /etc/wpa_supplicant/wpa_supplicant.conf -i wlan0
Restart=always

[Install]
WantedBy=multi-user.target
